


/*small tablet to big tablet from 767 to 990px*/
@media  screen and (max-width:1000px){
 
    
h1{

  font-size: 40px;
  position: relative;
    color:#ac83b8;
 text-align: center;
 margin-top: 230px;
  animation: slideInUp;
    animation-duration: 2s;
    font-family: 'SVN-Yipes', sans-serif;
    display: block;
}
h2{
    font-family: 'Hertine', sans-serif;
    color: #ac83b8;
    font-size: 15px;
    position: absolute;
    animation: slideInUp;
    animation-duration: 3s;
}

.st-section{
  background-image: url(http://drive.google.com/uc?export=view&id=1gMiA3I3CrkkMW-UKXqG3v0C3Q0_aA6tx);
  height: 100%;
}

.azalea-section{
    margin-top: 10px;
    background-image: url(http://drive.google.com/uc?export=view&id=1GrotF29O-1hXdmgIylN2huRIjIL9vN1q);
    height: 100%;  }
  

  .muji-section{
     margin-top: 10px;
      background-image: url(http://drive.google.com/uc?export=view&id=14gAv_vad1OB6deUBx-z0xED5dbtEdfsE);
      height: 100%;    }

      
.menta-section{
  margin-top: 10px;

    background-image: url(http://drive.google.com/uc?export=view&id=1_Wsofk0CcmxG2MSGuKu-ETRTqQkwTMST);
    height: 100%;  }
.letter-section{
margin-top: 10px;
background-image: url(http://drive.google.com/uc?export=view&id=1S3vz95xUKCWPF9hFYVh3j9dAfZ1Ghsyb);
height: 80vh;
}
}
/*----------------------------------------------------------- THE YOUTH SECTION ----------------------------------*/

